<h1>Links Directory</h1>

<!-- <ul>
  <li ng-repeat='link in links track by link.id'>
    <div>{{ link.title }}</div>
    <div>{{ link.url }} - {{ link.visits }}</div>
    <div><a ng-href="http://localhost:4567/{{ link.code }}">http://localhost:4567/{{ link.code }}</a></div>
  </li>
</ul> -->

<div ng-controller="MainController">
    <!-- Create a binding between the searchString model and the text field -->
    <input type="text" ng-model="searchString" placeholder="Enter your search terms" />

    <a href="" ng-click="predicate = 'title'; reverse=!reverse">Sort By Title</a>
    <a href="" ng-click="predicate = 'url'; reverse=!reverse">URL</a>
    <a href="" ng-click="predicate = 'code'; reverse=!reverse">Shortly Link</a>
    <a href="" ng-click="predicate = 'visits'; reverse=!reverse">Visits</a>

  <ul>
    <!-- Render a li element for every entry in the items array. Notice
       the custom search filter "searchFor". It takes the value of the
       searchString model as an argument.
     -->
    <li ng-repeat="link in links | searchFor:searchString | orderBy:predicate:reverse">
      <p>{{ link.title }}</p>
      <a href="{{link.code}}">http://localhost:4567/{{link.code}}</a><span>   Visits: {{ link.visits }}</span>
    </li>
  </ul>
</div>